.hover-item:hover {
  cursor: pointer;
  background-color: #f7f8fa;
}
.drop-down {
  position: relative;
}
.drop-drown-content {
  position: absolute;
  top: 103%;
  z-index: 100;
  content: '';
  left: 0px;
}
.line-clamp_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td_table {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;

  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
