
<div
  class="w-[392px] h-[374px] mx-[auto] bg-white z-10 rounded-[12px] bg-white"
  [ngStyle]="{ border: border ? '3px solid #5932ea' : '3px solid rgba(0, 0, 0, 0.05)' }"
>
  <div class="px-[20px] pt-[23px]">
    <div class="flex justify-between">
      <div>
        <div class="flex gap-[2px] flex-col">
          <h3 style="margin-bottom: unset; font-family: Inter; color: #b0b0b0; font-size: 14px; line-height: 17px; font-weight: 600">
            Shipment number
          </h3>
          <h2 style="margin-bottom: unset; font-family: Inter; color: #232323; font-size: 18px; line-height: 22px">EV-2017002346</h2>
        </div>
        <p style="margin-bottom: 20px; margin-top: 10px; font-family: Inter; color: #484a58; font-size: 14px; line-height: 17px; font-weight: 400">
          Macbook Pro
        </p>
      </div>
      <div class="w-[145px]">
        <img src="../../assets/img/image9.png" class="w-full" />
      </div>
    </div>
    <div class="w-full" style="border: 1px solid #ececec"></div>

    <div class="py-[20px]">
      <div class="flex flex-col">
        <div class="flex gap-[10px] items-center">
          <div class="w-[38px] h-[38px] bg-[#E8F9EE] rounded-[50%] flex items-center justify-center">
            <span class="w-[14px] h-[14px] rounded-[50%] bg-[#0EBC93]"></span>
          </div>
          <div class="flex gap-[2px] flex-col">
            <h2 style="margin-bottom: unset; font-size: 16px; font-weight: 900; color: 232323; font-family: Inter; line-height: 19px">Nha Be</h2>
            <h3 style="margin-bottom: unset; font-family: Inter; color: #b0b0b0; font-weight: 600; font-size: 12px; line-height: 14px">
              Huyen Nha Be TP. Ho Chi Minh
            </h3>
          </div>
        </div>
        <div class="w-[38px] h-[30px] items-center flex justify-center">
          <div class="w-[23px] h-0" style="border: '1px dashed #E3E3E3'; transform: rotate(90deg)"></div>
        </div>
        <div class="flex gap-[10px] items-center">
          <div class="w-[38px] h-[38px] bg-[#E5E5FE] rounded-[50%] flex items-center justify-center">
            <img src="../../assets/svg/location.svg" />
          </div>
          <div class="flex gap-[2px] flex-col">
            <h2 style="margin-bottom: unset; font-size: 16px; font-weight: 900; color: 232323; font-family: Inter; line-height: 19px">01 Sang Tao</h2>
            <h3 style="margin-bottom: unset; font-family: Inter; color: #b0b0b0; font-weight: 600; font-size: 12px; line-height: 14px">
              Phuong Tan Hung Quan 7 TP. Ho Chi Minh
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full" style="border: 1px solid #ececec"></div>
    <div class="pt-[30px] flex justify-between items-center">
      <div class="flex gap-[11px]">
        <div class="w-[47px] h-[47px]">
          <img class="w-full h-full" src="../../assets/img/Ellipse.png" />
        </div>
        <div class="flelx flex-col gap-[10px]">
          <div class="flex gap-[2px] flex-col">
            <h3 style="margin-bottom: unset; font-family: Inter; color: #b0b0b0; font-size: 14px; line-height: 17px; font-weight: 600">Khach Hang</h3>
            <h2 style="margin-bottom: unset; font-family: Inter; color: #232323; font-size: 18px; line-height: 22px">Chu Toan</h2>
          </div>
          <p style="margin-bottom: 20px; font-family: Inter; color: #484a58; font-size: 14px; line-height: 17px; font-weight: 400">+84 97 271 2621</p>
        </div>
      </div>
      <div class="flex gap-[10px]">
        <div class="w-[38px] h-[38px] bg-[#F7F5FF] rounded-[10px] flex items-center justify-center">
          <img src="../../assets/svg/call.svg" />
        </div>
        <div class="w-[38px] h-[38px] bg-[#F7F5FF] rounded-[10px] flex items-center justify-center">
          <img src="../../assets/svg/Group 281.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
