<div class="w-[1120px] flex justify-between">
  <!--item 1 -->
  <div class="app w-[265px] rounded-[10px] p-[20px]">
    <div class="flex gap-[10px]">
      <img src="../../assets/svg/iconChart/Discount.svg" />
      <div class="flex flex-col justify-center gap-[5px]">
        <h3 class="font-inter leading-[18px] text-[12px] font-light mb-[unset]">Total Sales</h3>
        <span class="font-inter leading-[33px] text-[25px] font-semibold">$2,456</span>
      </div>
    </div>
  </div>
  <!--item 1 -->
  <!--item 2 -->
  <div class="app w-[265px] rounded-[10px] p-[20px]">
    <div class="flex gap-[10px]">
      <img src="../../assets/svg/iconChart/Bitcoin.svg" />
      <div class="flex flex-col justify-center gap-[5px]">
        <h3 class="font-inter leading-[18px] text-[12px] text-[#262626] font-light mb-[unset]">Total Expenses</h3>
        <span class="font-inter leading-[33px] text-[25px] font-semibold text-[#262626]">$3,326</span>
      </div>
    </div>
  </div>
  <!--item 2 -->
  <!--item 3 -->
  <div class="app w-[265px] rounded-[10px] p-[20px]">
    <div class="flex gap-[10px]">
      <img src="../../assets/svg/iconChart/Users.svg" />
      <div class="flex flex-col justify-center gap-[5px]">
        <h3 class="font-inter leading-[18px] text-[12px] text-[#262626] font-light mb-[unset]">Total Visitors</h3>
        <span class="font-inter leading-[33px] text-[25px] font-semibold text-[#262626]">5,325</span>
      </div>
    </div>
  </div>
  <!--item 3 -->
  <!--item 4 -->
  <div class="app w-[265px] rounded-[10px] p-[20px]">
    <div class="flex gap-[10px]">
      <img src="../../assets/svg/iconChart/Mail.svg" />
      <div class="flex flex-col justify-center gap-[5px]">
        <h3 class="font-inter leading-[18px] text-[12px] text-[#262626] font-light mb-[unset]">Total Orders</h3>
        <span class="font-inter leading-[33px] text-[25px] font-semibold text-[#262626]">1,326</span>
      </div>
    </div>
  </div>
  <!--item 4 -->
</div>
