.hover-chart:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.animations-Chart {
  transform-origin: bottom;
  animation: revealing-bars 4s linear infinite;
}
@keyframes revealing-bars {
  0% {
    transform: scaleY(0);
  }
  15% {
    transform: scaleY(1);
  }
}
.animations-Chart02 {
  transform-origin: bottom;
  animation: revealing-bars02 4s linear infinite;
}
@keyframes revealing-bars02 {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(1);
  }
}
.app {
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s;
}
.app:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
