<div class="w-[1120px] flex justify-between gap-[20px]">
  <!--item 1 -->
  <div class="w-full h-[145px]">
    <div
      class="CompactCard"
      style="
        background: linear-gradient(rgb(187, 103, 255) 0%, rgb(196, 132, 243) 100%);
        box-shadow: rgb(224, 198, 245) 0px 10px 20px 0px;
        opacity: 1;
      "
    >
      <div class="radialBar">
        <svg class="CircularProgressbar animation-chart" viewBox="0 0 100 100" data-test-id="CircularProgressbar">
          <path
            class="CircularProgressbar-path relative"
            d="
    M 50,50
    m 0,-46
    a 46,46 0 1 1 0,92
    a 46,46 0 1 1 0,-92
  "
            stroke-width="8"
            fill-opacity="0"
            style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 86.708px"
          ></path>
        </svg>
        <span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">70%</span>

        <span>Sales</span>
      </div>

      <div class="flex flex-col text-end justify-between">
        <div class="flex justify-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M11,9h4a1,1,0,0,0,0-2H13V6a1,1,0,0,0-2,0V7a3,3,0,0,0,0,6h2a1,1,0,0,1,0,2H9a1,1,0,0,0,0,2h2v1a1,1,0,0,0,2,0V17a3,3,0,0,0,0-6H11a1,1,0,0,1,0-2Zm8-7H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z"
            ></path>
          </svg>
        </div>
        <span>$25,970</span><span>Last 24 hours</span>
      </div>
    </div>
  </div>
  <!--item 1 -->
  <!--item 2 -->
  <div class="w-full h-[145px]">
    <div
      class="CompactCard"
      data-projection-id="4"
      style="
        background: linear-gradient(rgb(255, 145, 157) 0%, rgb(252, 146, 157) 100%);
        box-shadow: rgb(253, 192, 199) 0px 10px 20px 0px;
        transform: none;
        transform-origin: 50% 50% 0px;
      "
    >
      <div class="radialBar">
        <svg class="CircularProgressbar animation-chart" viewBox="0 0 100 100" data-test-id="CircularProgressbar">
          <path
            class="CircularProgressbar-path relative"
            d="
    M 50,50
    m 0,-46
    a 46,46 0 1 1 0,92
    a 46,46 0 1 1 0,-92
  "
            stroke-width="8"
            fill-opacity="0"
            style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 57.8053px"
          ></path>
        </svg>
        <span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">80%</span>

        <span>Revenue</span>
      </div>
      <div class="flex flex-col text-end justify-between">
        <div class="flex justify-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M22,2H2A1,1,0,0,0,1,3v8a1,1,0,0,0,1,1H5v9a1,1,0,0,0,1,1H18a1,1,0,0,0,1-1V12h3a1,1,0,0,0,1-1V3A1,1,0,0,0,22,2ZM7,20V18a2,2,0,0,1,2,2Zm10,0H15a2,2,0,0,1,2-2Zm0-4a4,4,0,0,0-4,4H11a4,4,0,0,0-4-4V8H17Zm4-6H19V7a1,1,0,0,0-1-1H6A1,1,0,0,0,5,7v3H3V4H21Zm-9,5a3,3,0,1,0-3-3A3,3,0,0,0,12,15Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,12,11Z"
            ></path>
          </svg>
        </div>
        <span>$14,270</span><span>Last 24 hours</span>
      </div>
    </div>
  </div>
  <!--item 2 -->
  <!--item 3 -->
  <div class="w-full h-[145px]">
    <div
      class="CompactCard"
      style="
        background: linear-gradient(rgb(248, 212, 154) -146.42%, rgb(255, 202, 113) -46.42%);
        box-shadow: rgb(249, 213, 155) 0px 10px 20px 0px;
        opacity: 1;
      "
    >
      <div class="radialBar">
        <svg class="CircularProgressbar animation-chart" viewBox="0 0 100 100" data-test-id="CircularProgressbar">
          <path
            class="CircularProgressbar-path relative"
            d="
    M 50,50
    m 0,-46
    a 46,46 0 1 1 0,92
    a 46,46 0 1 1 0,-92
  "
            stroke-width="8"
            fill-opacity="0"
            style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 115.611px"
          ></path>
        </svg>

        <span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">60%</span>
        <span>Expenses</span>
      </div>

      <div class="flex flex-col text-end justify-between">
        <div class="flex justify-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M15,14H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm0-4H11a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Zm2-6H15.82A3,3,0,0,0,13,2H11A3,3,0,0,0,8.18,4H7A3,3,0,0,0,4,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V7A3,3,0,0,0,17,4ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm8,14a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V7A1,1,0,0,1,7,6H8V7A1,1,0,0,0,9,8h6a1,1,0,0,0,1-1V6h1a1,1,0,0,1,1,1Z"
            ></path>
          </svg>
        </div>
        <span>$4,270</span><span>Last 24 hours</span>
      </div>
    </div>
  </div>
  <!--item 3 -->
  <!--item 4 -->
  <div class="w-full h-[145px]">
    <div
      class="CompactCard"
      style="
        background: linear-gradient(rgb(154, 171, 248) -146.42%, rgb(113, 175, 255) -46.42%);
        box-shadow: rgb(155, 185, 249) 0px 10px 20px 0px;
        opacity: 1;
      "
    >
      <div class="radialBar">
        <svg class="CircularProgressbar animation-chart" viewBox="0 0 100 100" data-test-id="CircularProgressbar">
          <path
            class="CircularProgressbar-path relative"
            d="
    M 50,50
    m 0,-46
    a 46,46 0 1 1 0,92
    a 46,46 0 1 1 0,-92
  "
            stroke-width="8"
            fill-opacity="0"
            style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 115.611px"
          ></path>
        </svg>
        <span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">60%</span>

        <span>Expenses</span>
      </div>
      <div class="flex flex-col text-end justify-between items-center">
        <div class="flex justify-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M15,14H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm0-4H11a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Zm2-6H15.82A3,3,0,0,0,13,2H11A3,3,0,0,0,8.18,4H7A3,3,0,0,0,4,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V7A3,3,0,0,0,17,4ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm8,14a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V7A1,1,0,0,1,7,6H8V7A1,1,0,0,0,9,8h6a1,1,0,0,0,1-1V6h1a1,1,0,0,1,1,1Z"
            ></path>
          </svg>
        </div>
        <span>$4,270</span><span>Last 24 hours</span>
      </div>
    </div>
  </div>
  <!--item 4 -->
</div>
